JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=change-me
JENKINS_URL=http://32.236.8.23:8080/

DOCKERHUB_USER=minhtri1612
DOCKERHUB_TOKEN=replace-with-docker-hub-access-token

GITHUB_USER=minhtri1612
GITHUB_PAT=replace-with-github-pat

# Terraform jobs (platform/*). IAM user that can plan+apply management stack.
AWS_ACCESS_KEY_ID=AKIAreplace
AWS_SECRET_ACCESS_KEY=replace
TF_STATE_BUCKET=go-micro-tfstate-629954427603
TF_ADMIN_INGRESS_CIDR=123.21.198.200/32
TF_DB_PASSWORD=replace
TF_STRIPE_SECRET_KEY=sk_test_replace

# Same as AWS_* until terraform apply creates go-micro-tf-plan / go-micro-tf-apply.
# AWS_PLAN_ACCESS_KEY_ID=
# AWS_PLAN_SECRET_ACCESS_KEY=
# AWS_APPLY_ACCESS_KEY_ID=
# AWS_APPLY_SECRET_ACCESS_KEY=

# openssl rand -hex 24
TF_PLAN_WEBHOOK_TOKEN=replace-plan-webhook-token
TF_APPLY_WEBHOOK_TOKEN=replace-apply-webhook-token

